
import(BiodiversityR, vegan, adegenet)

export(count.model, count.pred, freq.model, freq.pred, freq.ggplot,
	VIF.subset, population.shift, environmental.novel,
	shift.dot.ggplot,
	shift.pie.ggplot, pie.baker,
	shift.moon.ggplot, moon.waxer,
	shift.waffle.ggplot, waffle.baker,
	shift.surf.ggplot,
	amova.rda,
	.onAttach)


